.wrapper{
  width: 100%;
  text-align: justify;
  font-size: 0;
  font-size: 12px\9; /* IE6-9 only fix */
}

.wrapper-div{
  display: inline-block;
  zoom: 1;
  *display: inline; /* IE stuff again */
}

.wrapper:after{
  content: "";
  width: 100%;
  display: inline-block;
  zoom: 1;
  *display: inline;
}