.wrapper {
  font-size: 0;

  width: 100%;

  text-align: justify;
  }

.wrapper-div {
  display: inline-block;
  zoom: 1;
  }

.wrapper:after {
  display: inline-block;
  zoom: 1;

  width: 100%;

  content: '';
  }
