$base-bg-color: #fff;
$tablet-section-width: 760px;
$mobile-section-width: 320px;

$logo-color: #FFEA82;
$button-height: 60px;

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

body{
    overflow: hidden;
    padding: 0;
    margin: 0;
}

section {
    max-width: $tablet-section-width;
    min-width: $mobile-section-width;
    margin: 0 auto;
    display: none;
}

#startPage {
    display: block;
}

.single-line {
    width: 100%;
    &.logo {
        background: $logo-color;
    }
}
.logo {
    max-height: 110px;
    text-align: center;
    height: 100%;
}

.button {
    height: $button-height;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.half-screen {
    display: inline-block;
    width: 50%;
    float: left;
}

/*search-box*/
//#search-box {
//  width: 600px;
//  margin: 0 auto;
//  border: 1px solid black;
//  position: relative;
//}

#search-but {
//  width: 100%;
//  height: 100px;
//  position: absolute;
//  border: none;

}

.search-input {
  width: 100%;
  height: $button-height / 2;
}
.search-box {
    position: relative;
    display: none;
}

//.search-by {
//  height: 70px;
//  float: left;
//  cursor: pointer;
//}
/*search-box*/

/*Categories*/
//#categoriesSection {
//  padding: 0;
//  margin: 0 auto 0;
//  width: auto;
//  max-width: 600px;
//  min-height: 400px;
//  border: 1px solid black;
//}
//#categoriesSection h2 {
//  text-align: center;
//}
//.categoryRadio {
//  margin-left: 50px ;
//}
//
//div.ingredients_div {
//  margin: 20px 0 0 0;
//  display: none;
//}

//div.ingredients_div h3 {
//  text-align: center;
//}

//.ingredients_div .ingredient {
//  display: block;
//  width: 100px;
//  margin: 15px auto 10px;
//
//}

/*recipe item start*/
.recipeItem {
  border: 1px solid black;
  margin: 5px auto;
//  width: 600px;
}

.general-info {
  border: 1px solid darkorange;
  padding: 0 1%;
}

.general-info .title {
  display: inline-block;
  width: 70%;
}

.buttonDesc {
  width: 25%;
  height: 50px;
  font-size: 30px;
}

.detail-info {
  border: 1px solid yellow;
  padding: 5px 1%;
}

.detail-info:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.infoImg {
  width: 49%;
  float: left;
}

.info-text {
  float: left;
  width: 49%;
  margin-left: 2%;
}

.detailButton {
  width: 100%;
}
/*recipe item end*/

/*final recipe start*/
//#finalRecipe {
//  width: 600px;
//  display: none;
//  margin: 5px auto;
//  border: 1px solid black;
//}

#finalRecipe>div {
  border: 1px solid black;
}

#finalImg {
  border: 1px solid black;
  width: 99.5%;
  margin-bottom: -5px;
}

.sub-blocks {
  border: 1px solid black;
  width: 49%;
  float: left;
  height: 60px;
  margin-left: 3px;
}

.sub-blocks[type="button"] {
  margin-left: 4px;
}

#showAuthors,
#finalRecipe input{
  cursor: pointer;
}

#ingredients {
  list-style: none;
}

#source {
  display: block;
  border: 1px solid black;
  height: 60px;
}

#source {
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  color: black;
}
/*final recipe end*/

/*filter-box*/
#filter-box {
  width: 100%;
}

#filter-box>input[type="button"] {
  border: 1px solid black;
  width: 49%;
  cursor: pointer;
  float: left;
  height: 60px;
  margin-left: 4px;
}

#scroll {
//  width: 600px;
  height: $button-height;
  background: white;
  border: 1px solid black;
  margin: 20px 0;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

#trumb {
  background: red;
  width: 200px;
  height: 58px;
  position: absolute;
  left: 0;
}

/*filter-box*/

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}