body{
  overflow: hidden;
}
#logo {
  display: block;
  margin: 0 auto 0;
}

#search {
  width: 180px;
}
#startPage {
  padding: 0;
  margin: 0 auto 0;
  width: auto;
  text-align: center;
  }

/*Categories*/
#CategoriesSection {
  padding: 0;
  margin: 0 auto 0;
  width: auto;
  max-width: 600px;
  min-height: 400px;
  border: 1px solid black;
}
#CategoriesSection h2 {
  text-align: center;
}
.categoryRadio {
  margin-left: 50px ;
}

div.ingredients_div {
  margin: 20px 0 0 0;
  display: none;
}

div.ingredients_div h3 {
  text-align: center;
}

.ingredients_div .ingredient {
  display: block;
  width: 100px;
  margin: 15px auto 10px;

}

.getRecipesButton {
  display: block;
  margin: 30px auto;
}

/*recipe item start*/
.recipeItem {
  border: 1px solid black;
  margin: 5px auto;
  width: 600px;
}

.general-info {
  border: 1px solid darkorange;
  padding: 0 1%;
}

.general-info .title {
  display: inline-block;
  width: 70%;
}

.buttonDesc {
  width: 25%;
  height: 50px;
  font-size: 30px;
}

.detail-info {
  border: 1px solid yellow;
  padding: 5px 1%;
}

.detail-info:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.infoImg {
  width: 49%;
  float: left;
}

.info-text {
  float: left;
  width: 49%;
  margin-left: 2%;
}

.detailButton {
  width: 100%;
}
/*recipe item end*/

/*final recipe start*/
#finalRecipe {
  width: 600px;
  display: none;
  margin: 5px auto;
  border: 1px solid black;
}

#finalRecipe>div {
  border: 1px solid black;
}

#finalImg {
  border: 1px solid black;
  width: 99.5%;
  margin-bottom: -5px;
}

.sub-blocks {
  border: 1px solid black;
  width: 49%;
  float: left;
  height: 60px;
}
#searchResult {
  display: none;
}
#showAuthors,
#finalRecipe input{
  cursor: pointer;
}

#ingredients {
  list-style: none;
}

#source {
  display: block;
  border: 1px solid black;
  height: 60px;
}

#source {
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  color: black;
}
/*final recipe end*/

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}