.radioButtons,
.ingredients_div {
  clear: both;

  margin: 0 auto;
  padding: 10px 10px 0;

  background: rgb(128, 165, 199);
  }
.category-item,
.ingredient {
  font-family: Georgia, Serif;
  font-size: 19px;

  display: inline-block;
  zoom: 1;

  width: 47%;
  margin: 0 0 10px 10px;
  padding: 9px 18px;

  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  color: #000;
  border-top: 1px solid #f2cea2;
  text-shadow: rgba(0, 0, 0, .2) 2px 2px 1px;

  @include linear-gradient(#e6b981, #eda956);
  @include rounded-border(9px);
  @include box-shadow(rgba(0, 0, 0, 1) 2px 2px 5px);
  @media screen and (max-width: 400px) {
    width: 94%;
    margin: 0 3% 10px;
    }
  }

.activeCheckboxesAndRadio {
  border-top: 1px solid #93d99b;
  background: #0a820e;
  background: -webkit-gradient(linear, left top, left bottom, from(#9ef799), to(#0a820e));
  background: -webkit-linear-gradient(top, #9ef799, #0a820e);
  background: -moz-linear-gradient(top, #9ef799, #0a820e);
  background: -ms-linear-gradient(top, #9ef799, #0a820e);
  background: -o-linear-gradient(top, #9ef799, #0a820e);
  }
