.radioButtons, .ingredients_div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgb(128, 165, 199);
  clear: both;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
}
.category-item, .ingredient {
  border-top: 1px solid #f2cea2;
  background: #eda956;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6b981), to(#eda956));
  background: -webkit-linear-gradient(top, #e6b981, #eda956);
  background: -moz-linear-gradient(top, #e6b981, #eda956);
  background: -ms-linear-gradient(top, #e6b981, #eda956);
  background: -o-linear-gradient(top, #e6b981, #eda956);
  padding: 9px 18px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: rgba(0,0,0,1) 2px 2px 5px;
  -moz-box-shadow: rgba(0,0,0,1) 2px 2px 5px;
  box-shadow: rgba(0,0,0,1) 2px 2px 5px;
  text-shadow: rgba(0,0,0,.2) 2px 2px 1px ;
  color: #000000;
  font-size: 19px;
  font-family: Georgia, Serif;
  text-decoration: none;
  vertical-align: middle;
  width: 47%;
  display: inline-block;
  text-align: center;
  margin: 0px 0px 10px 10px;
  zoom: 1;
  cursor: pointer;
}



.activeCheckboxesAndRadio{
  border-top: 1px solid #93d99b;
  background: #0a820e;
  background: -webkit-gradient(linear, left top, left bottom, from(#9ef799), to(#0a820e));
  background: -webkit-linear-gradient(top, #9ef799, #0a820e);
  background: -moz-linear-gradient(top, #9ef799, #0a820e);
  background: -ms-linear-gradient(top, #9ef799, #0a820e);
  background: -o-linear-gradient(top, #9ef799, #0a820e);
}