input[type='text'],
input[type='email'],
textarea {
  height: $button-height / 2;
  padding: 5px 10px;
  }

textarea {
  height: $button-height / 2 * 3;

  resize: none;
  }

:required {
  border: 0;
  background-color: #fff;

  @include box-shadow(0 0 1px 1px #fa0);
  }

:required:valid {
  border: 0;

  @include box-shadow(0 0 1px 1px #3f8);
  }

:invalid {
  //    background-color: rgba(255, 80, 80, 0.1);
  }

input:focus:invalid {
  border: 0;

  @include box-shadow(0 0 1px 1px #f55);
  }

input:focus,
textarea:focus {
  outline: none;
  }

.label-blocks {
  font-weight: bold;
  line-height: 20px;

  display: block;

  margin: 15px 0 5px;

  cursor: pointer;
  }
