.main-menu {

}
.menu-step {
  width: 25%;
  &:hover, &:active {
    @include background-color(#2eb626);
  }
  &.active {
    @include background-color(#0a820e);
  }
  &.disabled {
    @include background-color(#0a820e);
  }
}

.navigationButtons.main-page {

  @media screen and (max-width: 560px) {
    padding-left: 2px;
  }

  @media screen and (max-width: 400px) {
    font-size: 10px;
  }
}