$base-bg-color: #ccc;
$tablet-section-width: 760px;
$mobile-section-width: 320px;
$logo-color: #dcecfd;
$button-height: 60px;
$simple-border: 1px solid #000;
$one-pixel-shadow: rgba(0,0,0,1) 0 1px 0;

@mixin box-shadow($shadows...) {
  -webkit-box-shadow: $shadows;
  -moz-box-shadow: $shadows;
  box-shadow: $shadows;
  }

@mixin linear-gradient($from-color, $to-color) {
  background-color: $to-color; // Fallback Color 
  background-image: -webkit-gradient(linear, left top, left bottom, from($from-color), to($to-color)); // Saf4+, Chrome 
  background-image: -webkit-linear-gradient(top, $from-color, $to-color); // Chrome 10+, Saf5.1+, iOS 5+ 
  background-image: -moz-linear-gradient(top, $from-color, $to-color); // FF3.6
  background-image: -ms-linear-gradient(top, $from-color, $to-color); // IE10
  background-image: -o-linear-gradient(top, $from-color, $to-color); // Opera 11.10+
  background-image: linear-gradient(top, $from-color, $to-color);

  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$from-color}', EndColorStr='#{$to-color}');
  }

@mixin background-color($color) {
  background-color: $color;
  background-image: none;
  }

@mixin rounded-border($size) {
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  border-radius: $size;
  }
