body {
    background: #000;
}

#placeHolder {
    background: gray;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

#doneRecipe {
    background: lime;
    padding: 20px;
}

#doneRecipe img {
    float: right;
}

#sendEmail {
    background: #666;
    position: absolute;
    padding: 5px;
    left: 50%;
    top: 20%;
}